<div th:fragment="_card" class="col" th:each="collectible : ${collectibles}">
    <div class="card h-100">
        <img th:src="@{'/images/' + ${collectible.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${collectible.name}"></h5>
            <p class="card-text" th:text="${collectible.description}"></p>
        </div>
        <div class="card-footer text-center">
            <strong><p class="text-muted d-inline me-5" th:text="'Price: $' + ${collectible.price}"></p>
            </strong>
            <a th:href="@{details/{id}(id=${collectible.id})}" class="btn btn-outline-dark">Get Details</a>
        </div>
    </div>
</div>